:host{
  table {
    width: 100%;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  th.mat-header-cell{
    padding-left: 10px;
  }
  
  .element-row td {
    border-bottom-width: 0;
    padding-left: 10px;
  }
  
  .element-detail {
    overflow: hidden;
    display: block;
  }

  .edit{
    margin-bottom: 2px;
    position: relative;
    float: right;
    padding: 0;
  }


}
